<div class="form-horizontal">
    <form action="Create" method="Post">

        <div class="form-group">
            <label>Id</label>
            <input  class="form-control"
                    type="text" name="id"/>
        </div>

        <div class="form-group">
            <label>Nome</label>
            <input  class="form-control"
                    type="text" name="name"/>
        </div>

        <div class="form-group">
            <label>Endereco</label>
            <input  class="form-control"
                    type="text" name="endereco"/>
        </div>

        <div class="form-group">
            <label>Bairro</label>
            <input  class="form-control"
                    type="text" name="bairro"/>
        </div>

        <div class="form-group">
            <label>Cidade</label>
            <input  class="form-control"
                    type="text" name="cidade"/>
        </div>

        <div class="form-group">
            <label>Estado</label>
            <input  class="form-control"
                    type="text" name="estado"/>
        </div>

        <input  class="btn btn-primary" 
                type="submit" value="Salvar"/>

    </form>
</div>