<div class="container">
    <table class="table">

        <meta charset="UTF-8"/>

        <title> Média dos Valoes </title>

        <p> O Restaurante mais barato é </p>

        <script>
            function mediaSum(){
                let valor = docuemnt.getElementByName("valor")[0].value;
                let sum = Number(valor);
                document.getElementByName("valor")[0].value = valor;
            }
        </script>
        

    </table>
</div>